name: CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      
      # Initialize submodules (required for libverona)
      - run: git submodule update --init --recursive
      
      - run: cargo build --workspace --all-targets
      - run: cargo test --workspace --all-targets
      - run: cargo clippy --workspace --all-targets
